.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 100vh;
  }
  .login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 23em;
    width: 20.625em;
    padding: 15px;
    margin: auto;
    text-align: center;
    position: relative;
    background-color: #dad8d8;
    box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
    border-radius: .3em;
  }

  .ancho {
    width: 80%;
  }

  .spinner {
    margin: 0 auto;
  }

.person{
  font-size: 100px;
  position: absolute;
  top: -1.5em;
  left: .60em;


}
