<!-- <p>{{data.id}}</p>  -->
 <!-- <div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Departamento</th>
            <th scope="col">Numero</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="Let fijos of fijos">
            <th scope="row"> {{data.id}} </th>
            <td> <button type="button" name="button" class="btn btn-primary">Editar</button>
        </tr>
    </tbody>
</table>
</div>  -->

<!-- <h1>Editar</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Hola123344</mat-label>
        <input matInput placeholder="placeholder" />
        <mat-icon matSuffix>sentiment_very</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

</div> -->

<h1 mat-dialog-title>Editar</h1>
<form [formGroup]="form">
  <div class="example-container"> 
    <mat-form-field class="margen" appearance="fill">
     <mat-label>Nombre</mat-label>
    <input matInput input type="text" matInput autocomplete="off" formControlName = "name">
    </mat-form-field>
    <mat-form-field appearance="fill">
     <mat-label>Apellido</mat-label>
    <input matInput input type="text" matInput autocomplete="off" formControlName = "last_name"> 
    </mat-form-field>
  </div>
  <div class="example-container"> 
    <mat-form-field appearance="fill">
     <mat-label>Salario</mat-label>
        <input matInput input type="number" matInput autocomplete="off" formControlName = "salary">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName = "id_department">
        <mat-option *ngFor="let item of departamento"  [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="example-container"> 
    <mat-form-field appearance="fill">
      <mat-label>Cedula</mat-label>
         <input matInput input type="number" matInput autocomplete="off" formControlName = "CI">
     </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fecha de ingreso</mat-label>
    <input matInput input type="text" matInput autocomplete="off" formControlName = "date">
  </mat-form-field> 
  </div>

  <div class="example-button-row" >
    <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    <button mat-raised-button color="primary" style="margin-left: 8px;" type="submit" (click)="update()" mat-raised-button mat-button color="primary" [disabled]="form.invalid">Editar</button>
    <!-- <mat-slide-toggle class="slide-inactive">Personal Inactivo</mat-slide-toggle> -->
</div>

</form>
