table {
    width: 100%;
    margin-top: 10px;
  }

  th {
    width: 20%;
  }

  .pointer {
    cursor: pointer;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container1 {
    align-content: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    /* align-items: center; */
    flex-wrap: nowrap;
    height: 30%;
    align-content: space-around;
    justify-content: space-around;
    margin-top: 8%;
  }