<div class="container">
    <mat-toolbar>
        <span>Nuevo Recurso</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form>
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Ingrese un Nombre" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="5"> 
                    <img src="./assets/img/user.png" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Ingrese un Apellido" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Cedula</mat-label>
                        <input matInput placeholder="Ingrese una Cedula" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Fecha de ingreso</mat-label>
                        <input matInput placeholder="Ingrese fecha" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field class="ancho">
                        <mat-label>Personal</mat-label>
                        <mat-select>
                          <mat-option>fijos</mat-option>
                          <mat-option>Contratado</mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard/users">Volver</button>
                    <button mat-raised-button color="primary" routerLink="/dashboard/users">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>

</div>
