<div class="container">
    <mat-toolbar>
        <span>Nuevo Usuario</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form>
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Ingrese un Username" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="5"> 
                    <img src="./assets/img/user.png" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Nombre del Usuario</mat-label>
                        <input matInput placeholder="Ingrese un Nombre" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field appearance="legacy" class="ancho">
                        <mat-label>Apellido del Usuario</mat-label>
                        <input matInput placeholder="Ingrese un Apellido" autocomplete="off">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <mat-form-field class="ancho">
                        <mat-label>Rol</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let item of listRoles" [value]="item">{{item}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1"> 
                    <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>

</div>
