table {
    width: 100%;
  }

  .content{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    /* align-items: center; */
    flex-wrap: nowrap;
    height: 78%;
    align-content: space-around;
    justify-content: space-around;
  }