<h1 mat-dialog-title>Agregar Vacaciones</h1>
<form [formGroup]="form" (submit)="createVacaciones()">
  <p>Dias Disfrutados: {{data?.dias_frac}} </p>
  <div class="example-container"> 
    <mat-form-field class="margen" appearance="fill">    
     <mat-label>Cargar Dias Disfrutados</mat-label>
    <input matInput input type="text" matInput autocomplete="off" formControlName = "recibi_dias">
    </mat-form-field>
  </div>
  <p> Bono Vacacional Cancelado: {{data?.bono_frac}} </p>
  <div class="example-container"> 
    <mat-form-field appearance="fill">
     <mat-label>Bono vacacional fraccionado</mat-label>
        <input matInput input type="number" matInput autocomplete="off" formControlName = "recibi_bono">
    </mat-form-field>
  </div>
  <div class="example-button-row" >
    <button mat-stroked-button style="margin-right: 20px;" color="warn" mat-dialog-close>Cerrar</button>
    <button mat-stroked-button type="submit" color="primary" mat-dialog-close>Guardar</button>
</div>
<!-- </form> -->