<h1 mat-dialog-title>Agregar Vacaciones</h1>
<form [formGroup]="form">
  <div class="example-container"> 
    <mat-form-field class="margen" appearance="fill">    
     <mat-label>Vacaciones fraccionadas</mat-label>
    <input matInput input type="text" matInput autocomplete="off" formControlName = "vacaciones_fracs">
    </mat-form-field>
  </div>
  <div class="example-container"> 
    <mat-form-field appearance="fill">
     <mat-label>Bono vacacional fraccionado</mat-label>
        <input matInput input type="number" matInput autocomplete="off" formControlName = "bono_vacacional">
    </mat-form-field>
</div>
<div class="example-container"> 
  <mat-form-field appearance="fill">
   <mat-label>Vacaciones Vencidas</mat-label>
      <input matInput input type="number" matInput autocomplete="off" formControlName = "vacaciones_vencidas">
  </mat-form-field>
</div>
<div class="example-container"> 
  <mat-form-field appearance="fill">
   <mat-label>Bono vacacional vencido</mat-label>
      <input matInput input type="number" matInput autocomplete="off" formControlName = "bono_vac_vencidos">
  </mat-form-field>
</div>
  <div class="example-button-row" >
    <button mat-raised-button style="margin-right: 20px;" color="warn" mat-dialog-close>Cerrar</button>
    <button mat-raised-button color="blue" mat-dialog-close>Procesar</button>
</div>
<!-- </form> -->