<!-- <div>
  <h1 class="title"> CALCULO DE PRESTACIONES SOCIALES </h1>
</div> -->
<div class="date">
  <p style="color:#0047a3">Fecha y hora: </p>
  {{myDate | date: 'dd-MM-yyyy, h:mm a'}}
</div>

<!-- <div class="container">
  <button mat-raised-button class="card1" routerLink="/dashboard/fijo"> Personal Fijo </button>
  <button mat-raised-button class="card1" routerLink="/dashboard/contratado"> Personal Contratado </button>
</div> -->

<!-- <div class="cartas">
<mat-card>
  <mat-card-title align="center" >
   ULTIMAS LIQUIDACIONES
  </mat-card-title>
  <mat-card-actions align="end">
    <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
  </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-title align="center" >
      ULTIMOS REGISTROS
    </mat-card-title>
    <mat-card-actions align="end">
      <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
      <mat-card-title align="center" >
        CALCULO DE PRESTACIONES SOCIALES
      </mat-card-title>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
      </mat-card-actions>
    </mat-card>

-->

<!-- <mat-grid-list cols="5" rowHeight="40%">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-card class="grid1">
      <mat-card-title align="center">
       ULTIMAS LIQUIDACIONES
      </mat-card-title>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="mat-figure">
      <mat-card-title align="center">
       ULTIMAS REGISTROS
      </mat-card-title>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-card class="grid3">
      <mat-card-title align="center" >
       CUADRO LIQUIDACIONES
      </mat-card-title>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->


<mat-card class="grid1">
  <mat-card-title align="center">
   ULTIMA LIQUIDACION
  </mat-card-title>
  <!-- <mat-card-actions align="end">
    <button mat-raised-button routerLink="/dashboard/fijo"> Personal Fijo </button>
  </mat-card-actions> -->
</mat-card>

<mat-card class="grid2">
  <mat-card-title align="center">
   MODIFICAR CALCULO
  </mat-card-title>
  <div class="pointer1">
    <mat-icon mat-raised-button routerLink="/dashboard/edit-calculo">assignment</mat-icon>
  </div>
</mat-card>

<mat-card class="grid3">
  <mat-card-title align="center">
   EMPLEADOS SOAINT
  </mat-card-title>
  <!-- <mat-card-actions > -->
    <div class="pointer">
    <!-- <button style="font-size:30%" mat-raised-button routerLink="/dashboard/fijo"></button> -->
    <mat-icon mat-raised-button routerLink="/dashboard/fijo">assignment_ind</mat-icon>
  </div>
  <!-- </mat-card-actions> -->
</mat-card>