<!-- <div>
  <h1 class="title"> CALCULO DE PRESTACIONES SOCIALES </h1>
</div> -->
<div class="body" src="assets/img/fondo.png" style="opacity: 5;">
  <!-- <div class="date">
    <p style="color:#0047a3">Fecha y hora: </p>
    {{myDate | date: 'dd-MM-yyyy, h:mm a'}}

  
  </div> -->
      <div class="imagen">
         <img src="assets/img/inicio.png"width="1800" height="900">
       <!-- <mat-raised-button routerLink="/dashboard/fijo"><mat-icon>assignment_ind</mat-icon></mat-raised-button> -->
       <div class="centrado"><button class="button"  routerLink="/dashboard/fijo">Ver Personal</button></div>

      </div>
    </div>