 
   <!-- <pre>
     {{apartado | currency:'Bs.':'symbol':'.2-2':'es-VE' }}
   </pre> -->


   <div class = "principal" #canvas>
    <div class="tabla-encabezado">
      <table style="border: none;">
        <tr>
          <td style="border: none;"><img class="logolc" src="assets/img/Logo.png"></td>
          <!-- <td rowspan="2" style="border: none;"><h2 class="titulo">Empresa SOAINT "software associates "</h2></td> -->
        </tr>
        <tr>
          <td style="border: none;"><h5>RIF: J-00082850-4</h5></td>
        </tr>
      </table>
      <table style="border: none;">
        <tr>
          <td style="border: none;"><h1 class="titulo">RECIBO DE PRESTACIONES SOCIALES</h1></td>
        </tr>
      </table>
    </div>
  
    <div class="tabla">
      <table>
        <tr>
          <th colspan="2">Nombre de trabajador</th>
          <th>Cédula de identidad</th>
          <th>Cargo</th>
        </tr>
        <tr style="text-align: center;">
          <td colspan="2">{{empleado?.name}} {{empleado?.last_name}}</td>
          <td>{{empleado?.CI | number : '':'es-VE'}}</td>
          <td>{{empleado?.id_department}}</td>
        </tr>
        <tr>
          <th>Motivo de egreso</th>
          <th>Fecha de ingreso</th>
          <th>Fecha de egreso</th>
          <th>Tiempo de servicio</th>
        </tr>
        <tr style="text-align: center;">
          <td>Renuncia</td>
          <td>{{empleado?.date}}</td>
          <td>{{CurrentDate | date:'yyyy-MM-dd'}}</td>
          <td>0 años, 1 meses, 5 días</td>
        </tr>
        <tr>
          <th>Últ. sueldo devengado</th>
          <th>Sueldo básico diario</th>
          <th>Últ. sueldo prom. Mensual</th>
          <th>Sueldo prom. diario</th>
        </tr>
        <tr style="text-align: center;">
          <td>{{empleado?.salary | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td >{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td>{{empleado?.salary | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td>{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
        </tr>
      </table>
    </div>
    <br>
  
    <div class="detalle">
      <table>
        <th class="titulo-cuadro" colspan="4">CUADRO DEMOSTRATIVO</th>
        <tr>
          <td colspan="4" style="font-weight: bold;">Asignaciones</td>
        </tr>
        <tr>
          <th>Concepto</th>
          <th>Días</th>
          <th>Sueldo diario </th>
          <th>Total </th>
        </tr>
        <tr>
          <td>Antigüedad Art. 142 Lit. "C" </td>
          <td style="text-align: center;">{{benefits?.antiguedad}}</td>
          <td style="text-align: right;" >{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td style="text-align: right;">{{integral | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <tr>
          <td style="border-right:none;">Intereses sobre prest. Art. 142 de LOTTT </td>
          <td style="text-align: center; border-left:none; border-right:none;"></td>
          <td style="text-align: right; border-left:none; border-right:none;"></td>
          <td style="text-align: right;  border-right:none;">{{intereses | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
        </tr>
        <tr>
          <td>Vacaciones fraccionadas</td>
          <td style="text-align: center;">{{empleado?.dias_frac }}</td>
          <td style="text-align: right;">{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td style="text-align: right;">{{empleado?.total_vacaciones_frac | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <tr>
          <td>Bono vacacional fraccionado</td>
          <td style="text-align: center;">{{empleado?.bono_frac }}</td>
          <td style="text-align: right;">{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td style="text-align: right;">{{empleado?.total_bono_frac | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <tr>
          <td>Utilidades año {{anio}}</td>
          <td style="text-align: center;">{{empleado?.utilidades }}</td>
          <td style="text-align: right;">{{benefits?.salario_basico_diario | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
          <td style="text-align: right;">{{empleado?.total_utilidades | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-weight: bold;">Total</td>
          <td style="text-align: right;">{{total | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
        </tr>
        <br>
        <tr>
          <td colspan="4" style="font-weight: bold;">Deducibles</td>
        </tr>
        <tr>
          <td colspan="3">Anticipo</td>
           {{benefits?.anticipo | currency:'Bs.':'symbol':'.2-2':'es-VE'}}
        </tr>
        <tr>
          <td colspan="3">Intereses pagados</td>
          <td style="text-align: right;">{{intereses | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <tr>
          <td colspan="3">INCES 0,5%</td>
          <td style="text-align: right;">{{empleado?.total_utilidades*0.005 | currency:'Bs.':'symbol':'.2-2':'es-VE'}}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-weight: bold;">Total Deducciones</td>
          <td style="text-align: right;">{{total_deducciones | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <br>
        <tr>
          <td colspan="3">Total asignaciones</td>
          <td style="text-align: right;">{{total_asignaciones | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
        <tr>
          <td colspan="3" style="font-weight: bold;">TOTAL A PAGAR</td>
          <!-- <td style="font-weight: bold; text-align: right;">{{integral | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td> -->
          <td style="text-align: right;">{{total_asignaciones | currency:'Bs.':'symbol':'.2-2':'es-VE' }}</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="final">
      <p>
        Yo, {{empleado?.name}} {{empleado?.last_name}}, C.I. N° {{empleado?.CI | number : '':'es-VE'}}, doy constancia que he recibido de la
        empresa SOAINT C.A el monto correspondiente al pago de mis prestaciones
        sociales según el artículo N° 142 "C" establecido en la Ley Orgánica del Trabajo de
        los trabajadores y de las trabajadoras.
      </p>
      <br>
  
      <table class="final-tabla">
        <tr>
          <td style="padding-right: 25px; border: none;">
            Recibí conforme: ______________________________________________________
          </td>
  
          <td>
            <br>
            <br>
            <br>
            <br>
            <br>
          </td>
        </tr>
        <br>
        <tr colspan="2">
          <td class="final-tabla">C.I.: __________________________</td>
          <td class="final-tabla" colspan="2">Huella dactilar</td>
        </tr>
      </table>
    </div>
    <br>
  </div>
  
  <div class="boton">
    <button  style="margin-bottom: 30px;" mat-raised-button color="primary" (click)="downloadImage()">Imprimir PDF</button>
  </div>













