.logo{
  /* display:flex;
  margin:left;
  height: 200px;
  width: 200px;
  margin-left: 1em; */
  position: absolute;
  height:1em ;
  top: 5em;
  left: 1em;
}

table{

  border-collapse: collapse;
  border: solid thin #838383;
  border-radius: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

td, th{
  border: solid thin #838383;
}

td th:first-of-type{
  border-top-left-radius: 10px;
}

tr th:last-of-type{
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type{
  border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type{
  border-bottom-right-radius: 10px;
}

.titulo{
  margin-left: 17em;
}

.tabla{
display:flex;
margin-left: 18em;
font-size: medium;
}

.detalle{
  margin-left: 22em;
}

.titulo-cuadro{
  font-size: large;
}

.final{
  font-size: large;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-left: 2em;
  margin-right: 45em;
  text-align: justify;
}

.final-tabla{
  border: none;
}



