<!-- <mat-toolbar>
    <span>Recibo</span>
    <div class="space"></div>
  </mat-toolbar> -->
    <h1>Proceso - Mensual</h1>
<div class="container">
    <div class="container2">
        <table>
            <tr >
                <td class="per"><b>Periodo:</b> N22</td>
                <td class="per"><b>Quincena:</b> Q2</td>
                <td class="per"><b>Fecha inicio:</b> 10/11/2018</td>
                <td class="per"><b>Fecha fin:</b> 10/11/2020 </td>
            </tr>
    
            <tr>
                <td class="per">Nombre: Juan Perez</td>
                <td class="per">Cédula de identidad: 20.375.265</td>
                <td class="per">Fecha de egreso: 6/01/2015</td>
            </tr>
    
            <tr>
                <td class="per">Mes: Noviembre </td>
                <td class="per">Cant. Lunes</td>
                <td class="per">Dias a pagar: $$</td>
            </tr>
    
        </table>
    </div>
    <div class="container" style="border-radius: 7px; width: 90%;">
        <div class="row">
            <div class="cajon1">
                <h4>CONCEPTO</h4>
                <hr>
                <table>
                    <tr style="margin-bottom: 20px;">Intereses sobre Prestaciones según Articulo Nº 142 de LOTTT   (Ver Tabla Prestaciones)</tr><hr>
                    <tr>VACACIONES FRACCIONADAS</tr><hr>
                    <tr>BONO VAC. FRACCIONADAS</tr><hr>
                    <tr>UTILIDADES 2022</tr><hr>
                    <tr>Bonificación Especila</tr><hr>
                    <tr><b>TOTAL</b></tr><hr>
                    <tr><b>DEDUCIBLES</b></tr><hr>
                    <tr></tr>
                </table>
            </div>
            <div class="cajon2">
                <h4>Días</h4>
                <hr>
                <table>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </table>
            </div>
            <div class="cajon3">
                <h4>Sueldo Diario</h4>
                <hr>
                <table>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </table>
            </div>
            <div class="cajon4">
                <h4>Total Bs.</h4>
                <hr>
                <table>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        Total a pagar
    </div>
    
</div>




  <!-- <div class="buttons">
    <button mat-raised-button style="margin-right: 20px;" color="warn" routerLink="/dashboard/fijo">Volver</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/recibo">Procesar</button>
  
  </div> -->
