<mat-toolbar>
  <span>Personal</span>
  <div class="space"></div>
  <button mat-raised-button color="primary" style="margin-right: 20px;" routerLink="/dashboard/crear-usuario">Agregar</button>
  <button mat-raised-button color="primary" (click)="tasa()">Cargar Tasa</button> 
</mat-toolbar>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Personal Activos" (click)="cargarData(1)"  >
    <!-- <mat-tab label="Personal Activos"> -->
    <div class="container"> 

      <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Nombre</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="CI">
            <th mat-header-cell *matHeaderCellDef> Cedula </th>
            <td mat-cell *matCellDef="let element"> {{element.CI}} </td>
          </ng-container>
      
           <!-- Weight Column -->
           <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
          </ng-container>
      
           <!-- Weight Column -->
           <ng-container matColumnDef="id_department">
            <th mat-header-cell *matHeaderCellDef> Departamento </th>
            <td mat-cell *matCellDef="let element"> {{element.id_department}} </td>
          </ng-container>
      
           <!-- Weight Column -->
           <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef> Salario </th>
            <td mat-cell *matCellDef="let element"> {{element.salary}} Bs </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="date">
           <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
           <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Inactivar </th>
            <td mat-cell *matCellDef="let element">
              <a class="pointer" style="color:#e15639"  matTooltip="Eliminar">
              <mat-icon (click)="eliminar(element.id)">switch_camera</mat-icon>
              </a>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
              <a class="pointer" style="color:#1878b0"  matTooltip="Editar">
              <mat-icon (click)="editar(element)">edit</mat-icon>
              </a>
            </td>
          </ng-container> 
    
          <ng-container matColumnDef="prestacion social">
            <th mat-header-cell *matHeaderCellDef> Prestaciones </th>
            <td mat-cell *matCellDef="let element">
              <a class="pointer" style="color:#2f2f2f"  matTooltip="Prestaciones">
              <mat-icon routerLink="/dashboard/prestaciones" (click)="prestacion_social(element.id)">assignment_ind</mat-icon>
              </a>
            </td>
          </ng-container> 
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div> 
    
      </div>


    <div class="container">
      
    </div>
</mat-tab>
  <mat-tab label="Personal Inactivos">
    <div class="container"> 
    <app-inactivos></app-inactivos>
    </div>
    <div class="container">
      
    </div>
    
  </mat-tab>
</mat-tab-group>


  